body {
    padding: 0;
    margin: 0;
}

.main-body {
    min-height: calc(80vh - 50px);
}

.logo {
    margin-top: 10%;
    display: block;
    text-align: center;
}

.btn-download {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}

.commander-pass-ad {
    align-self: center;
    font-weight: 900;
}

.commander-pass-ad .commander-pass-ad-animate {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.commander-pass-text {
    display: inline-block;
}