<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="src/app.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CommanderPass Example Page</title>
</head>

<body>
    <div class="container col-md-12">
        <div id="app">
            <div class="jumbotron">
                <div class="container">
                    <h2>Giant Company Online</h2>
                    <h3>Secret file Example</h3>
                    <br><br>
                    <div class="fileCodeInput input-group col-6">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username"
                            v-model="username">
                    </div>
                    <br>

                    <p>
                        <div style="display: inline-flexbox">
                            <button class="btn btn-lg" type="button" v-on:click="generateSession" v-bind:class="veriryButtonStatus"
                                v-bind:disabled="isVeriryButtonDisabled">
                                {{ veriryButtonText }}
                            </button>
                            <button class="btn btn-lg btn-primary" role="button" v-if="downloadVerified" v-bind:href="filePath"
                                target="_blank" download>
                                Download
                            </button>
                        </div>
                        <p><br>{{ sessionInfo }}</p><br>
                    </p>
                    <!-- <br><p>{{ message }}</p> -->
                </div>
            </div>
        </div>
    </div>

    </div>

</body>
<footer>
    <div class="commanderPassAd">
        <div class="media">
            <img src="src/icon.png" class="commanderPassIcon mr-3" alt="icon">
            <div class="commanderPassDesc" class="media-body">
                <h5 class="mt-0">Secured by CommanderPass</h5>
                Designed by <b>Zhou Fang, Yizhe Ruan, Junjie Xu.</b><br>
            </div>
        </div>
    </div>
    <script src="src/app.js"></script>
</footer>

</html>